@font-face {
font-family: MoskBold;
src: url(Mosk\ Bold\ 700.ttf);
}

@font-face {
font-family: MoskSemiBold;
src: url(Mosk\ Semi-Bold\ 600.ttf);
}

@font-face {
font-family: MoskUltraBold;
src: url(Mosk\ Ultra-Bold\ 900.ttf);
}
    
@font-face {
font-family: MoskExtraBold;
src: url(Mosk\ Extra-Bold\ 800.ttf);
}

@font-face {
font-family: MoskMedium;
src: url(Mosk\ Medium\ 500.ttf);
}
        
@font-face {
font-family: MoskNormal;
src: url(Mosk\ Normal\ 400.ttf);
}

@font-face {
font-family: MoskLight;
src: url(Mosk\ Light\ 300.ttf);
}


html, body {
    margin: 0%;
    padding: 0%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffffb;
    color: #1c1c1c;
    font-family: MontreuxClassic;
    font-weight: bolder;
    letter-spacing: 0.02rem;
    margin: 0em;
    width: 100%;
    height: 6em
}

.nav-container img {
    width: 11%;
    margin: 0em 2.2em;
    padding: 0%;
}

.navbar-ul {
    display: flex;
    list-style-type: none;
    margin-right: 1em;
}

.nav-a {
    text-decoration: none;
    margin: 0em 0.7em;
}

.nav-a:hover {
    color: #fd9200;
    border-bottom: 0.18rem solid #fd9200;
}

@media (max-width:675px) {
    .qro-video {
        width: 100%;
    }
    .nav-container {
        flex-direction: column;
    }
    .nav-a {
        font-size: 0.8rem;
        margin: 0em 0.8em;
    }
}

.regions-section {
    width: 100%;
    background-color: aqua;
    height: 550px;
}

.regions-container {
    display: flex;
    justify-content: space-evenly
}

.region {
    width: 14.8%;
    height: 380px;
    text-align: center;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
}

.region h3 {
    font-family: MoskBold;
    padding: 90px 18px 0px 18px;
    color: #fffffb;
    font-size: 1.6rem;
    letter-spacing: 0.03rem;
    text-shadow: 0.8px 0.8px 5px #181818;
}

.acueducto {
    background-image: url(losarcos.jpg);
}

.centro {
    background-image: url(centrohistorico1.jpg);
}

.sierragorda {
    background-image: url(pinaldeamoles.jpeg);
}

.pueblito {
    background-image: url(piramide.jpg);
}

.bernal {
    background-image: url(penadebernal1.jfif);
}

.vinedos {
    background-image: url(vineria.jpg);
}

.section-title {
    color: #1c1c1c;
    margin: 0%;
    text-align: center;
    padding: 1.6em 0em;
    font-family: MoskBold;
    font-size: 2.4rem;
    letter-spacing: 0.04rem;
}

.experiences-container {
    width: 100%;
    background-color: brown;
    height:1000px;
}

.experience {
    display: flex;
    flex-direction: column;
}

.learn-more-arrow {
    display: flex;
    align-items: center;
    width: 10%;
}

#arrow {
    color: white;
}

#arrow-bg{
    color:red;
}

.experience {
    font-family: MoskSemiBold;
    font-size: 1.4rem;
}

#icon-bg-footer {
    color: #1c1c1c;
}

#icon-footer {
    color: #fffffb;
}

.experiences-sections-one, .experiences-sections-two, .experiences-sections-three {
    display: flex;
    flex-direction: row;
}

.vendimia, .hiking, .swiming, .lights, .hotairballoon, .eat {
    width: 42%;
}

.vendimia {
    background-image: url(vendimia.jpg);
    background-size: cover;
}

