@font-face {
font-family: MoskBold;
src: url(Mosk\ Bold\ 700.ttf);
}

@font-face {
font-family: MoskSemiBold;
src: url(Mosk\ Semi-Bold\ 600.ttf);
}

@font-face {
font-family: MoskUltraBold;
src: url(Mosk\ Ultra-Bold\ 900.ttf);
}
    
@font-face {
font-family: MoskExtraBold;
src: url(Mosk\ Extra-Bold\ 800.ttf);
}

@font-face {
font-family: MoskMedium;
src: url(Mosk\ Medium\ 500.ttf);
}
        
@font-face {
font-family: MoskNormal;
src: url(Mosk\ Normal\ 400.ttf);
}

@font-face {
font-family: MoskLight;
src: url(Mosk\ Light\ 300.ttf);
}

@font-face {
    font-family: HelveticaNowRegular;
    src: url(HelveticaNowText-Regular\ \(1\).ttf);
    }

@font-face {
    font-family: HelveticaNowMedium;
    src: url(HelveticaNowText-Medium\ \(1\).ttf);
    }

@font-face {
    font-family: HelveticaNowExtraBold;
    src: url(HelveticaNowText-ExtraBold.ttf);
    }

@font-face {
    font-family: HelveticaNowBold;
    src: url(HelveticaNowText-Bold\ \(2\).ttf);
    }

@font-face {
    font-family: BrandonBold;
    src: url(Brandon_bld.otf);
    }

@font-face {
    font-family: BrandonBlack;
    src: url(Brandon_blk.otf);
    }

@font-face {
    font-family: BrandonMedium;
    src: url(Brandon_med.otf);
    }

@font-face {
    font-family: BrandonRegular;
    src: url(Brandon_reg.otf);
    }

@font-face {
    font-family: RobotoRegular;
    src: url(Roboto-Regular.ttf);
    }

@font-face {
    font-family: RobotoMedium;
    src: url(Roboto-Medium.ttf);
    }

@font-face {
    font-family: RobotoBold;
    src: url(Roboto-Bold.ttf);
    }
                
@font-face {
    font-family: BrandonLight;
    src: url(Brandon_light.otf);
    }
                    
@font-face {
    font-family: RobotoSlabBold;
    src: url(RobotoSlab-Bold.ttf);
    }

@font-face {
    font-family: RobotoSlabRegular;
    src: url(RobotoSlab-Regular.ttf);
    }

nav, main, section, footer{ 
    width: 100%;
    max-width: 100%;
}
   
*{ 
    margin:0; 
    padding: 0; 
    font: inherit;
    box-sizing: border-box;
    color: #202020;
}
    
ul[ role=”list” ], ol [ role=”list”] {
    list-style:none; 
}
    
html:focus-within {
    scroll-behavior: smooth 
}
    
html, body {
    height:100%;
    background-color:rgb(250, 250, 250);
} 
    
body { 
    text-rendering: optimize-speed; 
    min-height: 100vh;
}
    
a {
    text-decoration: none;
}
    
*, 
*::before, 
*::after {
    box-sizing:border-box;
}
    
img, picture, svg {
    max-width: 100%;
    display: block
}
    
@media (prefers-reduced-motion: reduce) {
    html:focus-within { scroll-behavior:auto; }
}
    
.nav-container, .regions-container { 
    width: 96%; 
    max-width: 1800px; 
    margin: 0 auto; 
}


























.nav-container, .navbar-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-container {
    align-items: center;
    min-height: 100px;
    padding: 3em auto;
}

.nav-container img {
    max-height: 50px;
}

.navbar-ul {
    gap: 0.8em;
}

.navbar-ul a{
    margin: 0em 0.7em;
    font-family: BrandonMedium;
    font-size: 1.18rem;
    letter-spacing: 0.02rem;
}

.navbar-ul a:hover {
    border-bottom: 0.18rem solid #202020;
}

.language-nav {
    padding-left: 0.2em;
}

@media (max-width: 600px){
    .nav-container, .regions-container { 
        width: 90%; 
    } 
    .nav-container{
        flex-direction: column;
        margin: 2em auto 0.6;
        align-items: center;
        justify-content: center;
        min-height: 150px
    } 
    .nav-container img{
        max-height: 40px;
    }
    .navbar-ul {
        margin: 1.4em auto 0.6em auto;
        align-items: center;
        gap: 0em;
    } 
    .navbar-ul a{
        letter-spacing: 0.04em;
        font-size: 1.1rem;
    }
    .language-nav {

    }
}

.section-title {
    text-align: center;
    font-family: BrandonBold;
    margin: 3.8em 0em 0em 0em;
    font-size: 1.4rem;
    letter-spacing: 0.04rem;
}

.section-description {
    text-align: center;
    font-family: RobotoSlabBold;
    font-size: 2.4rem;
    letter-spacing: 0.04rem;
    margin: 0.8em auto 1.2em auto;
}

@media (max-width: 600px){
    .section-title {
        margin: 2em 0rem 0rem 0rem;
        font-size: 1.1rem;
        letter-spacing: 0.06rem;
    }
    .section-description {
        font-size: 1.6rem;
        letter-spacing: 0.06rem;
        margin: 0.4em auto 1.2em auto;
    }
}

.region-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.6em;
}

.region {
    min-height: 320px;
    text-align: center;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
}

.region h3 {
    font-family: BrandonMedium;
    padding: 5em 1.2em 0em 1.2em;
    color:rgb(250, 250, 250);
    font-size: 1.66rem;
    letter-spacing: 0.06rem;
    text-shadow: 0.4px 0.4px 4px #202020;
}

@media (min-width: 1500px) {
    .region-cards
}

.acueducto {
    background-image: url(losarcos.jpg);
}

.centro {
    background-image: url(centrohistorico1.jpg);
}

.sierragorda {
    background-image: url(pinaldeamoles.jpeg);
}

.pueblito {
    background-image: url(piramide.jpg);
}

.bernal {
    background-image: url(penadebernal1.jfif);
}

.vinedos {
    background-image: url(vineria.jpg);
}

/* .image-container {
    width: 100vw;
    height: 100%;
    text-align: start;
    position: relative;
    background-image: url("GLOBO-QRO.jpg");
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    margin: 6em auto;
    padding: 12em 0em 12em 4em;
}

.overlay h1{
    color: white;
    text-align: start;
    font-family: RobotoSlabBold;
    letter-spacing: 0.1rem;
    font-size: 4.4rem;
    line-height: 4.8rem;
    padding-bottom: 0.14em;
}

.overlay p{
    color: white;
    font-family: BrandonMedium;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    text-align: start;
} */

.image-container{
    text-align: start;
    margin: 6em auto;
    position: relative;
}

.image-container img {
    width: 100%;
    height: 100%;
    max-height: 740px;
    object-fit: cover;
    filter: contrast(90%)
}

.image-container h1{
    position: absolute;
    top: 36%;
    left: 6%;
    color: white;
    font-family: RobotoSlabBold;
    letter-spacing: 0.1rem;
    font-size: 4.4rem;
    text-align: start;
    line-height: 4.8rem;
}

.image-container p{
    position: absolute;
    top: 46%;
    left: 6%;
    color: white;
    font-family: BrandonMedium;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
    text-align: start;
    line-height: 4.8rem;
}

@media (min-width: 600px) and (max-width: 1000px) {
    .image-container h1{
        top: 34%;
        left: 6%;
        font-size: 3rem;
        line-height: 3rem
    }
    .image-container p{
        top: 40%;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .image-container{
        margin: 2.8em auto;
    }
    .image-container h1{
        max-width: 300px;
        top: 32%;
        left: 6%;
        letter-spacing: 0.08rem;
        font-size: 1.8rem;
        text-align: start;
        line-height: 2.1rem;
    }
    .image-container p{
        top: 50%;
        letter-spacing: 0.1rem;
        font-size: 0.74rem;
        line-height: 4.8rem;
    }
}

.experience-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-gap: 1.6em;
}

.experience {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    padding: 0em 0em 2em 2em;
}

.experience h3 {
    color: white;
    font-family: RobotoSlabBold;
    font-size: 2.6rem;
    letter-spacing: 0.16rem
}

.experience h4 {
    color: white;
    font-family: BrandonMedium;
    font-size: 1rem;
    letter-spacing: 0.06rem;
}

@media (max-width: 600px) {
    .experience-cards{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .experience {
        display: flex;
        flex-direction: column;
        justify-content: end;
        background-size: cover;
        background-position: center;
        min-height: 240px;
        padding: 0em 0em 1.6em 1.6em;
    }
    .experience h3 {
        font-size: 1.8rem;
        letter-spacing: 0.16rem
    }
    .experience h4 {
        font-size: 0.7rem;
        letter-spacing: 0.06rem;
        line-height: 1.2rem;
    }
}

.vendimia {
    background-image: url(vendimia-qro.webp);
}

.hiking {
    background-image: url(hiking-3.jpeg);
}

.swiming {
    background-image: url(cascada-4.jpeg);
}

.lights {
    background-image: url(navidad-qro.jpeg);
}

.hotairballoon {
    background-image: url(globo-aire-qro.jpeg);
}

.eat {
    background-image: url(enchiladas-queretanas.jpg);
}
 
/*

@media (max-width:675px) {
    .qro-video {
        width: 100%;
    }
    .nav-container {
        flex-direction: column;
    }
    .nav-a {
        font-size: 0.8rem;
        margin: 0em 0.8em;
    }
}

.regions-section h2 {
    border-color: #C8102E;
}

.region {
    min-height: 300px;
    text-align: center;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
}

.experiences-container hr, .regions-section hr {
    background-color: #202020;
    height: 0.2rem;
    width: 6%;
    border: none;
}

.learn-more-arrow, .learn-more-arrow i {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 22%;
}

.learn-more-arrow i {
    padding: 0rem 0rem 1.6rem 0rem;
    justify-content: center;
}

#arrow {
    color: #202020;
}

#arrow-bg{
    color:rgb(250, 250, 250);
}

#icon-bg-footer {
    color: rgb(250, 250, 250);
}

hr {
    margin: auto;
}

#icon-footer {
    color: #028180;
}

.copyright-footer {
    color: rgb(250, 250, 250);
    font-family: BrandonMedium;
    letter-spacing: 0.04rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.copyright-footer {
    padding-left: 3rem;
}

.footer-links {
    padding-right: 3rem;
}

.experiences-sections-one, .experiences-sections-two, .experiences-sections-three {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 500px;
    background-size: cover;

}

.vendimia, .hiking, .swiming, .lights, .hotairballoon, .eat {
    width: 49.33%;
    margin: 0.6rem 0em;
    background-repeat: no-repeat;
}

.experience h3 {
    font-family:  RobotoSlabRegular;
    color: rgb(250, 250, 250);
    font-size: 2.6rem;
    letter-spacing: 0.14rem;
    text-shadow: 0.2px 0.2px 1px #202020;
    padding-left: 2rem;
    margin: 0%;
}

.learn-more {
    font-family: BrandonRegular;
    color: rgb(250, 250, 250);
    font-size: 1.3rem;
    padding: 0rem 1rem 2rem 2.2rem;
    letter-spacing: 0.04rem;
    text-shadow: 0.2px 0.2px 1px #202020;
    margin: 0%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #028180;
}

.recent-articles {
    font-family: BrandonBold;
    width: 96.6%;
    border-radius: 10px;
    margin: auto;
    height: 380px;
    margin-bottom: 3rem;
}

.recent-articles h1 {
    padding: 2rem 2rem;
    font-size: 2rem;
    letter-spacing: 0.02rem;
    margin: 0%;
}

.articles-box {
    display: flex;
    justify-content: space-evenly;
}

/* .article {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 23%;
    height: 250px;
    border-radius: 10px;
    color: #202020;
    background-size: cover;
    cursor: pointer;
}

.article h4 {
   color: rgb(250, 250, 250); 
   font-family: MoskBold;
   font-size: 1.56rem;
   letter-spacing: 0.026rem;
   margin: 0%;
   padding-left: 1rem;
   text-shadow: 0.2px 0.2px 1px #202020;
}

.article h5 {
    color: rgb(250, 250, 250); 
    font-family: MoskNormal;
    font-size: 1.14rem;
    letter-spacing: 0.06rem;
    margin: 0%;
    padding: 0.16rem 1rem 1rem 1rem;
    text-shadow: 0.2px 0.2px 1px #202020;
}

.art4 {
    width: 23%;
    height: 250px;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    background: #202020;
    cursor: pointer;
}

.art1 {
    background-image: url(CasaMota.jpg);    
}

.art2 {
    background-image: url(Cecina.jpg);
}

.art3 {
    background-image: url(CavaBocanegra.jpg);
}

.art4 {
    background-image: url(GranjaElHigueron.jpg);
}

.pre-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #eff5e4;
    background-image: url(Pueblos-Magicos_horizontal.png);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: bottom 6.6rem left 3rem;
    padding: 2.6rem 3rem;
}

.pre-footer img{
    display: none;
}

.pre-footer h2 {
    font-family: BrandonBold;
    font-size: 1.4rem;
    margin: 0%;
    padding-bottom: 0.34rem;
}

.pre-footer p {
    font-family: BrandonMedium;
    font-size: 1.08rem;
    margin: 0%;
    padding: 0.24rem 0rem;
    cursor: pointer;
}

.pre-footer p:hover {
    font-family: BrandonBold;
}

.section-maintitle {
    text-align: center;
    font-family: RobotoSlabBold;
    font-size: 2.68rem;
    color: #202020;
    margin: 0%;
    padding: 2.6rem 0rem 3.6rem 0rem;
    letter-spacing: 0.06rem;
}

#galovdev-prefooter {
    font-size:1.1rem;
    letter-spacing: 0.05rem;
}

.article {
    position: relative;
    text-align: center;
    color: rgb(250, 250, 250);
}

.article img{
    width: 360px;
    height: 280px;
    border-radius: 10px;
}

.article h4 {
    position:absolute;
    bottom: 9.4rem;
    left: 1.6rem;
    font-family: MoskBold;
    font-size: 1.56rem;
    letter-spacing: 0.026rem;
    text-shadow: 0.2px 0.2px 1px #202020;
}

.article h5 {
    position:absolute;
    bottom: 8rem;
    left: 1.6rem;
    font-family: MoskNormal;
    font-size: 1.14rem;
    letter-spacing: 0.08em;
    text-shadow: 0.2px 0.2px 1px #202020;
}


.image {
    position: relative;
}

.image__img {
    display: block;
    width: 100%;
}

*/